body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: rgb(173, 215, 255);
  font-family: "Lexend", sans-serif;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  will-change: transform, opacity;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 43, 66, 0.7);
  z-index: 2;
}

.player-container {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 20px;
  background: rgba(33, 43, 66, 0.9);
  border: 3px solid rgba(28, 35, 51, 0.9);
  border-radius: 15px;
  transition: opacity 0.5s ease;
  z-index: 6;
}

.song-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.album-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 3px solid rgba(28, 35, 51, 0.9);
  border-radius: 10px;
  margin-bottom: 12px;
  opacity: 0.6;
}

.time-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 17px;
}

.timeline-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

#timeline {
  width: 70%;
  height: 10px;
  background: rgba(28, 35, 51, 0.9);
  border-radius: 5px;
  position: relative;
}

.timeline-progress {
  height: 100%;
  background: rgba(173, 215, 255, 0.9);
  width: 0;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.timer {
  margin-left: auto;
  font-size: 14px;
  color: rgba(173, 215, 255, 0.9);
  font-family: "Lexend", sans-serif;
}

.invisible-header {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
}

.invisible-header #piano {
  border: none;
  width: 50px;
  background-color: rgba(28, 35, 51, 0.5);
  color: rgba(173, 215, 255, 0.5);
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 1%;
}

.invisible-header #piano:hover {
  background-color: rgba(28, 35, 51, 0.7);
  color: rgba(173, 215, 255, 0.7);
  transform: scale(1.02);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  background: rgba(28, 35, 51, 0.9);
  border: none;
  width: 50px;
  color: rgba(173, 215, 255, 0.9);
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.controls button:hover {
  background: rgba(173, 215, 255, 0.9);
  color: rgba(28, 35, 51, 0.9);
}

.controls {
  position: relative;
}

button[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(33, 43, 66, 0.9);
  border: 3px solid rgba(28, 35, 51, 0.9);
  color: rgba(173, 215, 255, 0.9);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Lexend", sans-serif;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

button[data-tooltip]:hover::after {
  opacity: 1;
  transition-delay: 1s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.hiddenspace {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 5;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh + 60px));
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: rgba(28, 35, 51, 0.05);
  color: rgba(173, 215, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  z-index: 5;
}

.footer:hover {
  background-color: rgba(28, 35, 51, 0.3);
  color: rgba(173, 215, 255, 0.3);
  transform: scale(1.02);
}
